<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="utf-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dongle&family=Gaegu&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<title>Insert title here</title>
<style type="text/css">
   div.box{
     width: 30px;
     height: 30px;
     border-radius: 100px;
   }
</style>
</head>
<body>
<div style="margin: 100px 100px; width: 600px;">
  <h3 class="alert alert-danger">MyCar 목록 출력</h3>
  <h6><b>총 [[${totalcount}]]개의 자동차 정보가 등록되었습니다</b>
  
  
  <button type="button" class="btn btn-outline-success" style="margin-right: 100px;"
  onclick="location.href='writeform'">자동차정보등록</button>
  </h6>
  
  <hr>
  
  <table class="table table-bordered">
    <tr class="table-light">
      <th width="50">번호</th>
      <th width="200">자동차명</th>
      <th width="80">색상</th>
      <th width="120">단가</th>
    </tr>
    
    <!-- list반복문 -->
    <tr th:each="dto,iter:${list}">
      <td align="center">[[${iter.count}]]</td>
      <td>
         <a th:href="@{/detail(num=${dto.num})}">
           <img th:src="@{|/save/${dto.carphoto}|}" style="width: 40px;">
           [[${dto.carname}]]
           
           <!-- 댓글개수 추가 -->
           <span style="margin-left: 10px; color: red;" th:if="${dto.commentcount}>0">
           	([[${dto.commentcount}]])           
           </span>
           
         </a>
      </td>
      <td align="center">
        <div class="box" th:style="'background-color:'+${dto.carcolor}">
        
        </div>
      </td>
      <td>
        <span th:text="${#numbers.formatInteger(dto.carprice,0,'COMMA')}"></span>
      </td>
    </tr>
  </table>
</div>
</body>
</html>