#box{
    background-color: #ff9999;
    width: 800px;
    height: 500px;
    margin: auto;
    color: #ffffff;

}

#box h1{
    text-align: center;
    padding-top: 50px;

}

#box p{
    text-align: center;
   
}

#box ul li{
    padding-left: 200px;
    list-style: none;
}

#sns{
    position: relative;
    top: 200px;
}