<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberDao">
	<select id="idCheckOfMember" resultType="int"
		parameterType="String">
		select count(*) from smember where id=#{id}
	</select>

	<insert id="insertOfMyMember" parameterType="mdto">
		insert into smember (name,id,pass,hp,gaipday) values (#{name},#{id},#{pass},#{hp}, now())
	</insert>
	<!--전체회원수 얻기 -->
	<select id="totalCountOfMember" resultType="int">
		select count(*) from smember
	</select>
	
	<!--전체회원 정보 가져오기 -->
	<select id="getAllOfMyMember" resultType="mdto">
		select * from smember order by num desc
	</select>
	
	<!-- 수정 : 을 위해서 한명의 데이터 가져오기-->
	<select id="selectOneOfMember" parameterType="String" resultType="mdto">
		select * from smember where num=#{num}	
	</select>
		
	<!-- 수정 : pass를 체크한다. -->
	<select id="passCheckOfMember" parameterType="HashMap" resultType="int">
		select count(*) from smember where num=#{num} and pass=#{pass}	
	</select>

	<!-- 수정 : 진짜 수정 -->
	<update id="updateOfMember" parameterType="mdto">
		update smember set name=#{name}, hp=#{hp} where num=#{num}
	</update>
	
	<!-- 삭제 -->
	<delete id="deleteOfMember" parameterType="mdto">
		delete from smember where num=#{num}
	</delete>
	

</mapper>