<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="utf-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dongle&family=Gaegu&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<title>Insert title here</title>
</head>
<body>
<div style="margin: 100px 100px;">
<h4>
   <b>총 [[${totalCount}]]개의 상품이 있습니다</b>
   <button type="button" class="btn btn-outline-success" style="margin-left: 200px;"
   onclick="location.href='form'">상품추가</button>
</h4>
<hr>
<table class="table table-bordered" style="width: 800px;">
   <tr class="table-warning">
     <th width="80;">번호</th>
     <th width="250;">상품명</th>
     <th width="150;">이미지</th>
     <th width="100;">가격</th>
     <th width="150;">날짜</th>
   </tr>
   <tr th:each="dto,iter:${list}">
     <td>[[${iter.count}]]</td>
     <td>[[${dto.pro_name}]]</td>
     <td>
       <a th:href="@{/product/detail(pro_num=${dto.pro_num})}" style="color: black; cursor: pointer;">
         <img th:src="@{|/productimage/${dto.pro_image}|}" style="width: 50px;" border="1" hspace="10">
          
       </a>
     </td>
     <td align="right">
        <span th:text="${#numbers.formatInteger(dto.pro_price,0,'COMMA')}"></span>
     </td>
     <td align="center">
       <span th:text="${#calendars.format(dto.pro_create_date,'yyyy-MM-dd HH:mm')}"></span>
     </td>
   </tr>
</table>
</div>
</body>
</html>