<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="utf-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dongle&family=Gaegu&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<title>Insert title here</title>
<style type="text/css">
   div.box{
     width: 40px; height: 40px;
     border-radius: 100px;
   }

</style>
</head>
<body>
<div style="margin: 50px 100px;">
    <h2>[[${dto.pro_name}]] 상세보기</h2>
    <hr>
    <h2>원본이미지</h2>
    <img th:src="@{|/productimage/${dto.pro_image}|}">
    <hr>
    
    <div th:object=${dto}>
     
        <h4>상품명: [[*{pro_name}]]</h4>
        <h4>색상: [[*{pro_color}]]</h4>
        <div class="box" th:style="'background-color:'+*{pro_color}">
           
        </div>
        <h4>가격: [[*{pro_price}]]</h4>
        <h4>날짜:  <span th:text="${#calendars.format(dto.pro_create_date,'yyyy-MM-dd HH:mm')}"></span></h4>
        
    </div>
    
    <br>
    <button type="button" class="btn btn-outline-success"
    onclick="location.href='/product/form'">상품추가</button>
    <button type="button" class="btn btn-outline-success"
    onclick="location.href='/product/list'">목록</button>
    <button type="button" class="btn btn-outline-success"
    th:onclick="|location.href='@{/product/delete(pro_num=${dto.pro_num})}'|">삭제</button>
</div>
</body>
</html>